* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../pictures/logo.png) no-repeat center;
    background-size: cover;
    background-position: center 30%;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 90px;
    width: 80px;
    height: auto;
}